.box {
    border: 2px dashed red;

}

.text {
    border: 1em dashed blue;
    padding: 20px 30px 10px 50px;
    background: lightblue;
    margin: 25%; 
}

/*ems and rems
/* view width and height
/*percentages