body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }



  img {
      max-width: 100%;
      display: block;
      float: left;
      padding:0;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: auto;
    padding: 20px;
    max-width: 980px;
    display:flex;
    flex-direction: row;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    /*sticky in nav so nav bar moves with page*/
    top:0%;
    

  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*couldn't figure out how to have the bar looked space right, so looked up different ways with flex*/

  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-flow: column;
    column-count:2;
    column-gap: 1px;
    row-gap: 1px;
    padding:0px;


  }

  .feature {
      width: 200px;
      padding: 0.5em 0.5em;
  }

  body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }



  img {
      max-width: 100%;
      display: block;
      float: left;
      padding:0;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: auto;
    padding: 20px;
    max-width: 980px;
    display:flex;
    flex-direction: row;
    /*flex just makes so much more sense, grid so complicated*/
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    /*add stickey under nav not grid */
    top:0%;
    

  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-flow: column;
    column-count:2;
    column-gap: 1px;
    row-gap: 1px;
    padding:0px;


  }

  .feature {
      width: 200px;
      padding: 0.5em 0.5em; 
      /*padding shifting to make the photos align */
  }

  @media only screen and (min-width:500px) {
    .element{ 
      width:30%;
    }
  }

  @media only screen and (max-width: 500px) {
    .container{
      flex-direction: column;
      /*using media query format from ICA, changing it around, have min first */
    }
    .element{
      width: 100%;
    }
  }