/*inspired by Lumineers/Shakey Graves tour sites
Sticky top of
The webpage you create must be responsive to two screen sizes -- a mobile screen of around 400px width, and a laptop screen of around 1500px width.
You are allowed to use up to 3 colors, along with black and white.
You may use whatever fonts you prefer.
The webpage may use pictures, but careful consideration of how to use pictures should be given.
The webpage may use geometric shapes.*/


body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(73, 157, 98);
}

h1 {
    font-weight: 1000;
    padding:2em 2em 2em;
    background-color: blanchedalmond; 
    border: rgb(143, 211, 143); 
    border-radius: 4em; 
    font-style: oblique;
}

/** 
div {
    display:flex;
    flex-direction: column;
}
**/

.opening {
    font-size: larger;
    text-align: center;
    margin-left:6cm;
    margin-right:5cm;
    margin-bottom:3cm;
    font-style: oblique;
}


.Concert {
    background-color: blanchedalmond; 
    display:flex;
    width:90%;
    margin-bottom: 2cm;
    padding: 2em 2em 1em 1em;
}
.Concert:hover {
    background-color:rgb(143, 211, 143);
}
h2{
    font-weight: 1000em;
    filter: drop-shadow(2px 2px 2px blanchedalmond);
}
.column1 {
    width:40%;
    float:left;
    padding: 3px 3px 3px 3px;
}
.date{
    font-style: italic;
}

.about {
    width:60%;
    float:right;
    padding: 3px 5px;
    text-align: left;
}


@media screen and (max-width: 400px) {
    .Concert {
        flex-direction: column;
    }
}
@media screen and (min-width:1500px) {
    .Concert{
        flex-direction: column;
    }
}